@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Comfortaa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/lodyas.png");
  color: white;
}

h2 {
  position: relative;
  font-size: 40px;
  background-color: white;
  color: rgb(255, 187, 0);
  width: fit-content;
  padding: 10px;
  border: 1px solid white;
  border-radius: 15px 15px 15px 0px;
  margin: 35px 0px;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 0;
}

h2:before {
  content: "";
  background-color: rgb(255, 187, 0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
  z-index: -3;
}

h2:hover {
  color: white;
}

h2:hover::before {
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  transform: translateX(0);
}

h3 {
  padding: 15px;
  margin: 0;
  font-family: "Comfortaa";
  color: rgb(255, 187, 0);
  font-size: 32px;
  border-top: 2px solid rgb(255, 187, 0);
  border-left: 2px solid rgb(255, 187, 0);
  border-right: 2px solid rgb(255, 187, 0);
}

h4 {
  font-size: 30px;
  margin: 25px 0px;
}

p {
  line-height: 40px;
  letter-spacing: 1px;
  font-family: "Comfortaa";
  font-size: 28px;
}
