.project-container {
  display: flex;
}

.desc-icones-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 35px;
}

.link {
  color: #ffffff;
}

.link:hover {
  color: rgb(255, 187, 0);
}
