.containerSlide {
  background-color: #2f2e33;
  text-align: center;
  width: 650px;
  height: 350px;
  margin: auto;
  padding: 15px;
  border-radius: 25px;
}

.eachSlide {
  margin: 0 auto;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  background: white;
}
